<div>
	<table mat-table [dataSource]="investments" class="mat-elevation-z8" *ngIf="investments">
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef> Id </th>
			<td mat-cell *matCellDef="let element"> 
				<a [routerLink]="element.id">{{element.id}} </a>
			</td>
		</ng-container>

		<ng-container matColumnDef="titreoperation">
			<th mat-header-cell *matHeaderCellDef> Titre Opération </th>
			<td mat-cell *matCellDef="let element"> {{element.titreoperation}} </td>
		</ng-container>

		<ng-container matColumnDef="entreprise">
			<th mat-header-cell *matHeaderCellDef> Entreprise </th>
			<td mat-cell *matCellDef="let element"> {{element.entreprise}} </td>
		</ng-container>

		<ng-container matColumnDef="ville">
			<th mat-header-cell *matHeaderCellDef> Ville </th>
			<td mat-cell *matCellDef="let element"> {{element.ville}} </td>
		</ng-container>

		<ng-container matColumnDef="etat_d_avancement">
			<th mat-header-cell *matHeaderCellDef> Etat d'avancement </th>
			<td mat-cell *matCellDef="let element"> {{element.etat_d_avancement}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

	<mat-paginator 
					[length]="length"
					[pageSize]="pageSize"
					[pageIndex]="pageIndex"
					(page)="event($event)"
					showFirstLastButtons 
					aria-label="Select page of periodic elements">
	</mat-paginator>
	
</div>