<div *ngIf="currentInvestment.id">
    <h1>Investment</h1>
    <div>
      <label><strong>ID:</strong></label> {{ currentInvestment.id }}
    </div>
    <div>
      <label><strong>Entreprise:</strong></label> {{ currentInvestment.entreprise }}
    </div>
    <div>
      <label><strong>Annee De Livraison:</strong></label> {{ currentInvestment.annee_de_livraison }}
    </div>
    <div>
      <label><strong>Ville:</strong></label> {{ currentInvestment.ville }}
    </div>
    <div>
      <label><strong>Mandataire:</strong></label> {{ currentInvestment.mandataire }}
    </div>
    <div>
      <label><strong>Nombre De Lots:</strong></label> {{ currentInvestment.nombre_de_lots }}
    </div>
    <div>
      <label><strong>Ppi:</strong></label> {{ currentInvestment.ppi }}
    </div>
    <div>
      <label><strong>Lycee:</strong></label> {{ currentInvestment.lycee }}
    </div>
    <div>
      <label><strong>Notification Du Marche:</strong></label> {{ currentInvestment.notification_du_marche }}
    </div>
    <div>
      <label><strong>Codeuai:</strong></label> {{ currentInvestment.codeuai }}
    </div>
    <div>
      <label><strong>Longitude:</strong></label> {{ currentInvestment.longitude }}
    </div>
    <div>
      <label><strong>Etat d'avancement:</strong></label> {{ currentInvestment.etat_d_avancement }}
    </div>
    <div>
      <label><strong>Montant Des Ap Votes En Meu:</strong></label> {{ currentInvestment.montant_des_ap_votes_en_meu }}
    </div>
    <div>
      <label><strong>Cao Attribution:</strong></label> {{ currentInvestment.cao_attribution }}
    </div>
    <div>
      <label><strong>Latitude:</strong></label> {{ currentInvestment.latitude }}
    </div>
    <div>
      <label><strong>Maitrise d'oeuvre:</strong></label> {{ currentInvestment.maitrise_d_oeuvre }}
    </div>
    <div>
      <label><strong>Mode De Devolution:</strong></label> {{ currentInvestment.mode_de_devolution }}
    </div>
    <div>
      <label><strong>Annee d'individualisation:</strong></label> {{ currentInvestment.annee_d_individualisation }}
    </div>
    <div>
      <label><strong>Enveloppe Prev En Meu:</strong></label> {{ currentInvestment.enveloppe_prev_en_meu }}
    </div>


</div>